.header {
  --header-height: 65px;

  display: flex;
  align-items: center;

  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 0.5rem 0;
  background: var(--color-white);
  box-shadow: var(--shadow-light);
  height: var(--header-height);

  .cluster {
    gap: 1rem;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.header__button {
  padding: 0.75rem;
  font-weight: 600;
  font-size: var(--size-step-1);
  text-transform: uppercase;
  color: var(--color-primary);
  text-decoration: none;
}

.header__button:hover {
  text-decoration: underline;
}

.header__socials {
  svg {
    height: 1.5rem;
  }
}

.header__logo,
.header__menu-button {
  svg {
    height: 2rem;
  }
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__menu ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header a {
  font-weight: 500;
  text-decoration: none;
  font-size: var(--size-step-1);
}

.header a:hover {
  color: var(--color-primary);
}

.header a:hover svg {
  color: var(--color-primary);
}

.header__menu ul li a {
  display: inline-flex;
  align-items: baseline;
  padding: 0.375rem 2rem;
  gap: 0.5rem;
}

.header__menu ul li.menu-item-has-children > a:after {
  content: url(../images/arrow-icon.svg);
  transform-origin: center;
  transform: rotate(90deg);
}

.header__menu .sub-menu {
  box-shadow: var(--shadow-light);
  border-top: 1px solid var(--color-light-3);
  max-width: var(--container-max-width);
  padding-inline: 2.5rem;
  width: 100%;

  position: fixed;
  left: 50%;
  top: var(--header-height);
  padding: 2.5rem;
  background: var(--color-white);
  box-shadow: var(--shadow-light);
  gap: 2rem;

  transition: var(--transition-base);
  transform: translate(-50%, -20%);
  pointer-events: none;
  opacity: 0;

  li {
    width: 100%;
  }

  a {
    display: block;
    width: 100%;
    background: var(--color-light);
    padding: 1.5rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none !important;
  }
}

.header__menu .sub-menu.open {
  transform: translate(-50%, 0%);
  pointer-events: all;
  opacity: 1;
}


/*
 * Header Mobile Menu
 */
.header__mobile-menu {
  margin-left: auto;
}

.header__menu-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media screen(xl) {
  .header {
    --header-height: 92px;
  }
}
