.slider-pagination {
  display: flex;
  gap: 0.75rem;

  .swiper-pagination-bullet {
    transition: var(--transition-base);
    background-color: var(--color-light-3);
    border-radius: var(--radius-xs);
    height: 0.375rem;
    width: 100%;
    opacity: 1;
    margin: 0 !important;
  }

  .swiper-pagination-bullet:hover {
    background-color: var(--color-light-2);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-white);
  }
}
